<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bookkeep.mapper.ProdOutMapper">
    <resultMap id="BaseResultMap" type="com.bookkeep.domain.ProdOut">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="come_id" property="comeId" jdbcType="INTEGER"/>
        <result column="out_num" property="outNum" jdbcType="INTEGER"/>
        <result column="member_id" property="memberId" jdbcType="INTEGER"/>
        <result column="out_time" property="outTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_user" property="createUser" jdbcType="INTEGER"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="OutDTOMap" type="com.bookkeep.DTO.ProdOutDTO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="come_id" property="comeId" jdbcType="INTEGER"/>
        <result column="out_num" property="outNum" jdbcType="INTEGER"/>
        <result column="member_id" property="memberId" jdbcType="INTEGER"/>
        <result column="out_time" property="outTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_user" property="createUser" jdbcType="INTEGER"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="batch" property="batch" jdbcType="VARCHAR"/>
        <result column="prodName" property="prodName" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, come_id, out_num, member_id, out_time, create_time, create_user, update_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tb_prod_out
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="findListByProdOut" resultMap="OutDTOMap" parameterType="com.bookkeep.DTO.ProdOutDTO">
    SELECT
	  prodOut.*,come.batch,prod.`name` prodName
    FROM
	  tb_prod_out prodOut,
	  tb_prod_come come,
	  tb_prod prod
    WHERE
      prodOut.come_id = come.id
      AND come.prod_id = prod.id;
  </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_prod_out
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.bookkeep.domain.ProdOut">
    insert into tb_prod_out (id, come_id, out_num, 
      member_id, out_time, create_time, 
      create_user, update_time)
    values (#{id,jdbcType=INTEGER}, #{comeId,jdbcType=INTEGER}, #{outNum,jdbcType=INTEGER}, 
      #{memberId,jdbcType=INTEGER}, #{outTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.bookkeep.domain.ProdOut">
        insert into tb_prod_out
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="comeId != null">
                come_id,
            </if>
            <if test="outNum != null">
                out_num,
            </if>
            <if test="memberId != null">
                member_id,
            </if>
            <if test="outTime != null">
                out_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="comeId != null">
                #{comeId,jdbcType=INTEGER},
            </if>
            <if test="outNum != null">
                #{outNum,jdbcType=INTEGER},
            </if>
            <if test="memberId != null">
                #{memberId,jdbcType=INTEGER},
            </if>
            <if test="outTime != null">
                #{outTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.bookkeep.domain.ProdOut">
        update tb_prod_out
        <set>
            <if test="comeId != null">
                come_id = #{comeId,jdbcType=INTEGER},
            </if>
            <if test="outNum != null">
                out_num = #{outNum,jdbcType=INTEGER},
            </if>
            <if test="memberId != null">
                member_id = #{memberId,jdbcType=INTEGER},
            </if>
            <if test="outTime != null">
                out_time = #{outTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.bookkeep.domain.ProdOut">
    update tb_prod_out
    set come_id = #{comeId,jdbcType=INTEGER},
      out_num = #{outNum,jdbcType=INTEGER},
      member_id = #{memberId,jdbcType=INTEGER},
      out_time = #{outTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>